{{!-- 
<style>
    .bg{
        background-color: #5544527a;
    }
</style>
<div class="navbar navbar-expand-sm bg">
   <a class="navbar-brand" href="/">
    <img src="images/logo.jpeg" alt="" height="50px" width="80px"></a>
    <a class="nav-link" href="/register">Register</a>
    <a class="nav-link" href="/login">login</a>
    
</div> --}}