{{>header}}
<style>
    body{
        background-image: url('images/bg.jpg');
        background-size: cover;
        background-position: center;
    }
    .shop{
       margin-left: 600px;
       margin-top: 100px;
    }
    .Greet{
        padding-left: 450px;
        margin-top: 100px;
        color: indigo;
    }
</style>


<div>
    <h1 class="Greet">Welcome to Chor Bazar ! </h1>
    <a href="/products">
   <button type="button" class="btn btn-primary btn-lg shop">Shop Now</button>
    </a>
</div>